.corpo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    animation: reveal .9s ease-in-out;
}

@keyframes reveal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}