.cards {
  left: auto;
  margin: 25px 25px;
  width: 280px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
}

.textType{
  font-size: 22px;
}

.card-type {
  position: relative;
  width: 280px;
  height: 200px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
}
img {
  width: 120px;
  height: 120px;
}

.list-obs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.text-title {
  margin-top: 5px;
  letter-spacing: 1px;
  /* margin-top: 5px; */
  color: white;
  font-weight: bold;
  font-size: 19px;
  transform: translateX(-10%);
}

.text-obs {
  letter-spacing: 1px;
  /* margin-top: 5px; */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 17px;
  transform: translate(-10%, -90%);
}

.btn-play {
  border-radius: 5px;
  text-decoration: none;
  width: 150px;
  height: 40px;
  background: rgba(93, 107, 183, 0.864);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  transition: transform .2s;
  transform: translateY(-60%);
  /* margin-top: -40px; */
}

.btn-play:hover {
  transform: scale(1.02) translateY(-60%);;
  background: rgba(36, 41, 70, 0.864);
  color: #fff;
}

