.typesModeling{
    width: 100%;
    background-color: rgba(235, 236, 243, 0.678);
    position: relative;
    margin-top: -10px;
    border-bottom: solid 5px rgba(148, 148, 148, 0.993);
}
.title-model{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    padding: 50px 300px;
    
}
.cards-types{
    display: flex;
    margin: 20px 150px 100px;
    gap: 50px;
    justify-content: center;
    
}
.cards-types a{
    text-decoration: none;
}
