.typesModeling{
    width: 100%;
    background-color: rgba(235, 236, 243, 0.678);
    position: relative;
    margin-top: -10px;
    border-bottom: solid 5px rgba(148, 148, 148, 0.993);
}
.carrousel{
    width: 100%;
    display: flex;
    position: relative;
}
.title-model{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    padding: 50px 300px;
    
}
.typesModeling .cards-types::-webkit-scrollbar{
    display: none;
}
.cards-types{
    display: flex;
    margin: 20px 300px 100px;
    gap: 50px;
    flex: none;
    width: 70%;
    overflow: scroll;
    
}
.cards-types a{
    text-decoration: none;
}
button img{
    width: 50px;
    margin: 0px;
    padding: 0px
   
}
button{
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.buttons{
    margin-top: -80px;
    border: none;
    width: 100%;
    text-align: center;
}
.esquerda{
    transform: rotate(180deg);
    background-color: transparent;

}
