.cards {
  left: auto;
  margin: 5px;
  width: 280px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.card-type {
  position: relative;
  width: 280px;
  height: 200px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
}
img {
  width: 140px;
  margin-top: 10px;
}
.card-type p {
  text-align: center;
  font-size: 20px;
}
.textUsualy {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.textType {
  font-weight: bold;
  font-size: 20px;
}

.snake_case {
  background-color: rgba(55, 150, 105, 0.74);
  height: 100%;
  border-radius: 8px;
}
.snake_case .textType {
  color: rgb(9, 97, 56);
}

.camelCase{
  background-color: rgba(214, 125, 113, 0.603);
  height: 100%;
  border-radius: 8px;
}
.camelCase .textType {
  color:rgb(143, 67, 57);
}

.kebab-case{
  background-color: rgba(236, 15, 15, 0.685);
  height: 100%;
  border-radius: 8px;
}

.kebab-case .textType {
  color:rgb(143, 19, 19);
}

.PascalCase{
  background-color: rgba(179, 179, 179, 0.685);
  height: 100%;
  border-radius: 8px;
}
.PascalCase .textType{
  color:rgb(0, 0, 0);
}
.modelIf{
  height: 100%;
  background-color: rgba(51, 146, 146, 0.733);
  border-radius: 8px;
}
.modelIf .textType{
  color: rgb(7, 37, 121);
}

.modelFor{
  height: 100%;
  background-color: rgba(199, 186, 9, 0.61);
  border-radius: 8px;
}
.modelFor .textType{
  color: rgb(100, 107, 5);
  border-radius: 8px;
}

.modelForeach{
  height: 100%;
  background-color: rgba(255, 52, 1, 0.507);
  border-radius: 8px;
}

.modelForeach .textType{
  color: rgb(114, 54, 13);
}

.modelWhile{
  height: 100%;
  background-color: rgba(14, 17, 189, 0.507);
  border-radius: 8px;
}

.modelWhile .textType{
  color: rgba(5, 64, 151, 0.842);
}




