.app {
  min-height: 100%;
  position: relative;
  background: rgba(235, 236, 243, 0.678);
  overflow: hidden;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}