.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    animation: reveal .9s ease-in-out;
}

@keyframes reveal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.about-tile {
    width: 650px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin-bottom: 5rem;
}

span {
    color: red;
}

.about-text {
    width: 100%;
    height: 250px;
    font-size: 32px;
    margin-bottom: 7rem;
}

.about-text p {
    text-align: center;
    font-size: 42px;
}

.about-text ul {
    padding: 1rem;
}

.about-text ul li {
    list-style: none;
}

.about-img {
    background: url('../../assets/team.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
}